<br>
<br>
<nav>

    <li>

        <a href="/">Home Page</a>

    </li>
    <li>

        <a href="/products">Productos</a>

    </li>
    <li>

        <a href="/carts">Carritos</a>

    </li>

</nav>

<br>
<br>